table {
  width: 100%;
}

.mat-form-field {
  font-size: 12px;
  width: 20%;
}

td, th {
  width: 25%;
}

.container{
  margin-top: 15px;
}

.addButton{
  float: right;
}

.icon{
  margin-top: 8px;
}


