table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

mat-toolbar{
  background-color: #384452;
  color: white;
}

.container{
  margin-top: 15px;
}

button{
  float: right;
}
