.sidenav {
  background: #384452;
  color: white;
  width: 200px;
}

mat-toolbar {
  background-color: #384452;
  color: white;
}

.title {
  font-size: 20px;
}

mat-icon {
  margin-right: 12px;
}

.example-container {
  height: 100%;
}

.item {
  padding: 8px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
}

.list-item {
  margin-top: 3px;
}

.first-item{
  margin-top: 15px;
}
