

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput (ngModel)="data.firstName" placeholder="First name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput ngModel="data.lastName" placeholder="Last Name">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address"></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput #postalCode maxlength="5" placeholder="Postal Code">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>


  <p>
    <mat-form-field class="example-full-width">
      <input matInput type="email" placeholder="Email" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password"/>
    </mat-form-field>
  </p>


  <button mat-flat-button (click)="close()" color="primary">Save</button>

