table {
  width: 100%;
}

.mat-form-field {
  font-size: 12px;
  width: 20%;
}

td, th {
  width: 25%;
}

.container{
  margin-top: 15px;
}

.addBtn{
  float: right;
}

.actionCol{
  display: flex;
  margin: 5px;
}

.divider{
  margin-left: 5px;
}
